<div>
   
    <form class="col-sm-4 col-sm-offset-4" novalidate>
	    <div>
	        <h1>Change Password</h1>
	        <div class="form-group" ng-hide="isResettingPass">
	            <label>Old Password</label>
	            <input type="password" class="form-control"
	                   required ng-model="changepassword.oldPassword"
	                   placeholder="old password">
	        </div>
	        <div class="form-group">
	            <label>New Password</label>
	            <input type="password" class="form-control"
	                   required ng-model="changepassword.newPassword"
	                   placeholder="new password">
	        </div>
	       	<div class="form-group">
	            <label>Confirm New Password</label>
	            <input type="password" class="form-control"
	                   required ng-model="changepassword.confirmNewPassword"
	                   placeholder="confirm new password">
	        </div>
	        <div class="row">
	            <div class="col-sm-6">
	                <button class="btn btn-primary btn-block" ng-click="onChangePasswordClick()" >Chnage password</button>
	            </div>
	        </div>
	    </div>
	</form>
</div>